<% if user_signed_in? %>
  <li><%= link_to 'Cuenta', edit_user_registration_path %></li>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Inicia Sesión', new_user_session_path %></li>
  <li><%= link_to 'Registrate', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Usuario', users_path %></li>
<% end %>
